@import '~bootstrap/scss/bootstrap';
// @import '~jquery-ui-themes/jquery-ui.css';
@import '~select2/dist/css/select2.css';
@import '~select2-bootstrap-theme/dist/select2-bootstrap';
@import '~jquery-ui-themes/themes/flick/jquery-ui.css';
@import '~sweetalert2/dist/sweetalert2.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~toastr/build/toastr.css';
@import '~print-js/dist/print.css';
@import '~bootstrap-colorpicker/src/sass/colorpicker';
// @import '~datatables.net-bs4/css/dataTables.bootstrap4.css';
@import '~datatables.net-dt/css/jquery.dataTables.css';
@import '~datatables.net-buttons-dt/css/buttons.dataTables.css';
// @import '~select2/src/scss/theme/classic/layout.scss';

#toast-container .toast {
    opacity: 100;
}

// textarea {
    // resize: none !important;
// }
.select2-drop-active{
    margin-top: -25px;
}
.table-sm {
    font-size: 13px;
}
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000 !important;
}

.dataTable {
    font-size: 13px;
}